* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --fundoPrincipal: #366899;
}

html,
body {
    scroll-behavior: smooth;
    width: 100%;
    overflow-x: hidden;
}

section,
header,
nav,
footer {
    width: 100%;
    display: flow-root;
}

section {
    width: 100%;
    min-height: 300px;
    display: flow-root;
    padding: 1px 15px;
}

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../../imagem/PapeldeFundo-7680x4320(4K)/texturaPedra.png');
    background-size: cover;
    background-attachment: fixed;
    background-color: var(--fundoPrincipal);
    margin: 0;
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
}

