* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --fundoPrincipal: #3c292b;
}

html,
body {
    scroll-behavior: smooth;
    width: 100%;
    overflow-x: hidden;
    color: antiquewhite;
}

section,
header,
nav,
footer {
    width: 100%;
    display: flow-root;
    color: antiquewhite;
}

section {
    width: 100%;
    min-height: 300px;
    display: flow-root;
    padding: 1px 15px;
    font-size: 20px;
}

.formulario-flex {
    display: flex;
    max-width: 1000px;
    flex-direction: column;
    vertical-align: middle;
    justify-content: flex-start;
    box-shadow: 8px 5px 20px rgba(0, 0, 0, 0.3);
    background-color: antiquewhite;
    color: #4F4F4F;
    padding: 15px;
    margin: 2px auto;
    margin-top: 35px;
    
    gap: 20px;
}

.item-flex {
    flex: 1;
}

body {
    background-color: #3c292b;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
}