html {
    scroll-behavior: smooth;
    /* Isso faz a página deslizar suavemente quando você clica em "Ver meus Hobbies". */
}

:root {
    --fundoPrincipal: #366899;
}

/* :root: É um lugar especial onde tudo o que você define fica disponível para o documento inteiro. */
/* --nome-da-variavel: Toda variável CSS precisa começar com dois traços (--). */
/* Para usar essa variável depois: background-color: var(--fundo-principal);. Se for mudar a cor do site todo, você muda apenas uma linha no :root. */

/* 1. Estiliza a caixa do menu */
.menu {
    background-color: black;
    /* Fundo preto */
    padding: 10px;
    /* Espaço interno de 10 pixels para não sufocar o texto */
    width: 100%;
    min-height: 5px;
    position: sticky;
    /* Uma variação do relative/fixed */
    z-index: 1000;
    /* Garante que ele fique por cima das outras divs */
    top: 0;
    /* Faz o menu "grudar" no topo enquanto você rola */

}

.menubottom {
    background-color: black;
    padding: 10px;
    width: 100%;
    min-height: 5px;
    text-align: center;
    z-index: 1000;
    margin-bottom: 0; /* Garante que não tenha espaço embaixo dele */
}

/* 2. Estiliza os links que estão DENTRO do menu */
.menu>a {
    /* O Seletor .menu > a: Isso diz ao navegador: "Pinte de branco apenas os links que estão dentro da div menu". Se tiver um link fora dali, ele não será afetado. */
    text-decoration: none;
    /* Tira aquele sublinhado do link */
    color: white;
    /* Deixa a letra branca */
    margin-right: 15px;
    /* Dá um espaço de 15 piixels entre um item e outro */
}

.menubottom>a {
    text-decoration: none;
    color: white;
    margin-right: 15px;
    bottom: 0;
}

div {
    width: 100%;
    /*Largura*/
    /*O que faz: Diz que a div deve ocupar todo o espaço horizontal da tela. Se não colocar isso, às vezes ela pode "encolher" se tiver pouco texto.
 */
    min-height: 300px;
    /*Altura Mínima*/
    /*O que faz: Garante que a "caixa" tenha pelo menos 300px de altura.
 */

    display: flow-root;
    /* O display: flow-root é uma maneira de dizer "Ei, div, você é um bloco independente",
    evitando problemas de "colapso de margens" mesmo que tenha elementos flutuantes dentro dela. */
}


body {
    /* O linear-gradient cria uma película escura (40% de opacidade) antes da imagem */
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../../imagem/RioDeJaneiroBackground.jpg');
    background-size: cover;
    /* Faz a imagem cobrir a tela toda */
    background-attachment: fixed;
    /* A imagem fica parada enquanto você rola a página */
    background-color: var(--fundoPrincipal);
    margin: 0;
    /* Tira aquela bordinha branca que fica em volta do site */
    font-family: 'Times New Roman', Times, serif;
}

.impar {
    background-color: rgba(240, 248, 255, 0.6);
}
.par{
    color: white;
}

.curso-estilo {
    background-color: rgba(250, 235, 215, 0.5);
}

h1 {
    text-align: center;
    color: rgba(4, 4, 43);
    padding-top: 20px;
}

footer {
    background-color: rgba(0, 0, 0, 0.75);
    /* Fundo preto */
    color: white;
    /* Letra branca */
    text-align: center;
    padding: 20px;
    /* Espaço interno de 20 pixels para não sufocar o texto */
    margin-top: 0;
    width: 100%;
    /*Largura*/
    /*O que faz: Diz que a div deve ocupar todo o espaço horizontal da tela. Se não colocar isso, às vezes ela pode "encolher" se tiver pouco texto.
 */
}

footer a {
    color: #366899;
    text-decoration: none;
}

/* a: Altera todos os links do planeta (do seu site). */
/* .menu a: Altera apenas os links que estão "morando" dentro da div .menu. */
/* footer a: Altera apenas os links que estão "morando" dentro do footer. */

/* 1. Configuração da Tabela */
table {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
    /*Tira linhas duplas*/
    /*border-collapse: collapse: No Excel, as células são divididas por uma linha única.
    No HTML, por padrão, cada célula tem sua própria borda. O collapse "funde" as bordas em uma linha só.*/
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    /*Sombra para profundidade*/
}

/* 2. Configuração das Células (Títulos e Dados) */
th,
td {
    border: 1px solid #333;
    padding: 12px;
    text-align: center;
}

/* 3. Estilo especial para o Cabeçalho (Seg, Ter...) */
thead {
    background-color: #2c3e50;
    color: white;
}

/* 4. Efeito "Zebra" nas linhas do corpo */

tbody tr:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.45);
}

/* nth-child(even): Sabe quando você pinta uma linha sim e outra não no Excel para não se perder na leitura?
É exatamente isso que esse comando faz sozinho! */

/* 5. Efeito ao passar o mouse */

tbody tr:hover {
    background-color: rgba(121, 147, 187, 0.6);
    /* Destaca a linha que você está lendo */
    transition: 0.3s;
}