:root {
    --fundoPrincipal: darkgoldenrod;
}

/* :root: É um lugar especial onde tudo o que você define fica disponível para o documento inteiro. */
/* --nome-da-variavel: Toda variável CSS precisa começar com dois traços (--). */
/* Para usar essa variável depois: background-color: var(--fundo-principal);. Se for mudar a cor do site todo, você muda apenas uma linha no :root. */

/* 1. Estiliza a caixa do menu */
.menu {
    background-color: black; /* Fundo preto */
    padding: 10px;           /* Espaço interno de 10 pixels para não sufocar o texto */
}

/* 2. Estiliza os links que estão DENTRO do menu */
.menu > a {
    /* O Seletor .menu > a: Isso diz ao navegador: "Pinte de branco apenas os links que estão dentro da div menu". Se tiver um link fora dali, ele não será afetado. */
    text-decoration: none;   /* Tira aquele sublinhado do link */
    color: white;            /* Deixa a letra branca */
    margin-right: 15px;      /* Dá um espaço de 15 piixels entre um item e outro */
}